.header {
    background: #444648;
    padding: 50px 0;
}

.item {
    margin: 4px 0;
}

.input-group-addon {
    width: 50px;
}

.item input {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
}

.item input:focus {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%;
}
